[Desktop Entry]
Type=Application
Name=Harmonicon
Comment=Blues harmonica rhythm game
Exec=harmonicon
Icon=io.github.tcanabrava.harmonicon
Terminal=false
Categories=Game;ArcadeGame;
Keywords=harmonica;rhythm;music;blues;
